In [2]:
#List

string = ['abcd', 'efg', 'hijk', 'lmn']
print(sorted(string,key=len))

['efg', 'lmn', 'abcd', 'hijk']

In [3]:
string=['abcg', 'eff', 'hijd', 'lmn']

def func1(l):
    return l[-1]

func1(string)

'lmn'

In [4]:
print(sorted(string))
print(func1('abcg'))
print (sorted(string,key=func1))

['abcg', 'eff', 'hijd', 'lmn']
g
['hijd', 'eff', 'abcg', 'lmn']

In [7]:
#Tuples

tup1 = ('Street Triple', 'Detone', 'Indhu', 2023)
tup2 = (1,2,3,4,5)
print(tup1)
print(tup2)

('Street Triple', 'Detone', 'Indhu', 2023)
(1, 2, 3, 4, 5)

In [9]:
id(tup1)

1317092214080

In [10]:
#Create a empty tuple 

tup1 = ()
print (tup1)
id(tup1)

()

1317009047616

In [13]:
#Single Tuple 

tup1 = (50,)
tup1

(50,)

In [14]:
type(tup1)

tuple

In [16]:
#Accessing values in tuple 

tup1 = ('Street Triple', 'Jupyter', 'Indhu', 2023)
print(tup1[0])
tup2= (1,2,3,4,5,6)
print(tup2[1:5])

Street Triple
(2, 3, 4, 5)

In [18]:
#Uploading Tuples

tup1 = (12,34.78)
tup2 = ('abc', 'xyz')
tup1 = tup1 + tup2
print (tup1)

(12, 34.78, 'abc', 'xyz')

In [19]:
#Delete Tuple Elements 

tup = ('Street Triple', 'Jupyter', 'Indhu', 2023)
print (tup)
del(tup[1]) #Error Occurs , 'tuple' object doesn't support item deletion
print(tup)

('Street Triple', 'Jupyter', 'Indhu', 2023)

TypeError: 'tuple' object doesn't support item deletion

In [20]:
#Sets

#Normal Set 

normal_set = set(["a", "b", "c"])
print ("Normal_Set",normal_set)

Normal_Set {'b', 'c', 'a'}

In [22]:
#Adding New value 

normal_set.add("d")
print("Normal_set", normal_set)

Normal_set {'b', 'd', 'c', 'a'}

In [23]:
#Frozen set 

frozen_set = frozenset(["e","f","g"])
print("Frozen_set",frozen_set)

Frozen_set frozenset({'g', 'e', 'f'})

In [24]:
frozen_set.add("h") #frozenset' object has no attribute 'add'

AttributeError: 'frozenset' object has no attribute 'add'

In [25]:
#Set Operations 


set1 = set()
set2 = set()

print(set1,set2)

set() set()

In [26]:
for i in range (1,10):
    set1.add(i)
    
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
for i in range (3,10):
    set2.add(i)

set2

{3, 4, 5, 6, 7, 8, 9}

In [29]:
# Unions of set1 and set2 
# Union shows all the values in set1 and set2

set3 = set1 | set2 #set1/union(set2)

print("Union of set1 and set2 = " , set3)

Union of set1 and set2 =  {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
#Intersection - Common values in both the sets 

set4 = set1 & set2 
print(set4)

{3, 4, 5, 6, 7, 8, 9}

In [31]:
set5 = set1.intersection(set2)
set5

{3, 4, 5, 6, 7, 8, 9}

In [33]:
if set3 > set4: 
    print ("set3 is superset of set4")
elif set3 < set4:
        print ("set3 is subset of set4")
else :
        print("set3 is same as set4")

set3 is superset of set4

In [34]:
if set4 < set3:
    print("\n")
    print("set4 is subset of set3")
    print("\n")

set4 is subset of set3