In [ ]:
#LOGICAL OPERATOR [OR]

In [1]:
a=3
b=2
c=0

print(a or b)
print(b or c)
print(c or a)
print('orange' or 'apple')

3
2
3
orange

In [ ]:
#Identity Operator - It will check whether the value is equal to the right value or not

In [2]:
"y" is "python", 1 is 1 , 2 is 1

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\INDHU\AppData\Local\Temp\ipykernel_14832\4245356565.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "y" is "python", 1 is 1 , 2 is 1
C:\Users\INDHU\AppData\Local\Temp\ipykernel_14832\4245356565.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "y" is "python", 1 is 1 , 2 is 1
C:\Users\INDHU\AppData\Local\Temp\ipykernel_14832\4245356565.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "y" is "python", 1 is 1 , 2 is 1

(False, True, False)

In [3]:
"jupyter" is "Jupyter" , 1 is 0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\INDHU\AppData\Local\Temp\ipykernel_14832\3368720792.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "jupyter" is "Jupyter" , 1 is 0
C:\Users\INDHU\AppData\Local\Temp\ipykernel_14832\3368720792.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "jupyter" is "Jupyter" , 1 is 0

(False, False)

In [4]:
1 is not 1 , "Identity" is not "operator"

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\INDHU\AppData\Local\Temp\ipykernel_14832\3390152757.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  1 is not 1 , "Identity" is not "operator"
C:\Users\INDHU\AppData\Local\Temp\ipykernel_14832\3390152757.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  1 is not 1 , "Identity" is not "operator"

(False, True)

In [ ]:
#Complex Number

In [5]:
print(2+3j)
type(2+3j)

(2+3j)

complex

In [ ]:
#Boolean Type

In [6]:
type(True),type(False)

(bool, bool)

In [ ]:
#Membership Operator - It will check whether left value is a member of right value or not

In [7]:
"y" in "jupyter" , "1" in "jupyter"

(True, False)

In [8]:
"J" in "jupyter" , "j" in "jupyter"

(False, True)

In [ ]:
#PYTHON DATA TYPES

In [11]:
#interger

print(1)
print(2+4)
print(12 * 3)
a=15
type (a)

1
6
36

int

In [15]:
#Float

print(11.5)
x=15.67
print(x)
type(x)

11.5
15.67

float

In [20]:
#Boolean 

type (True), type (False)

(bool, bool)

In [21]:
True+True

2

In [22]:
True+False+False+True+True+True

4

In [30]:
#Sequential Data type
#List 

list1=["Indhu", "Indhu1905", 2023, 2024]
print(list1)
print(len(list1))

['Indhu', 'Indhu1905', 2023, 2024]
4

In [32]:
print(list[0])
print(list1[3])
print(list1[:3])

list[0]
2024
['Indhu', 'Indhu1905', 2023]

In [33]:
#Reversing list 

print(list1[::-1])

[2024, 2023, 'Indhu1905', 'Indhu']

In [35]:
#Functions in Data Type 

#Append: Add new element to the exisitng list 

alist = [123, 'XYZ', 'Zara', 'abc']
alist.append(2023)
print(alist)
alist.remove(2023)
print(alist)

[123, 'XYZ', 'Zara', 'abc', 2023]
[123, 'XYZ', 'Zara', 'abc']

In [36]:
#Pop-Remove the element from the existing element 

print(alist.pop())
print(alist)

abc
[123, 'XYZ', 'Zara']

In [37]:
#Pop the element using Index Number

print(alist.pop(0))
print(alist)

123
['XYZ', 'Zara']

In [38]:
#Insert -Insert a value using Index Number 

alist = [123, 'xyz', 'tommy', 'abc', 123]
alist.insert(2,2023)
print(alist)

[123, 'xyz', 2023, 'tommy', 'abc', 123]

In [40]:
#Extend - Extend the two list one after another 

alist = [123, 'xyz', 'tommy', 'abc',123]
blist = [2009, 'jupyter']

print(alist*2)
print(alist+blist)
print(blist+alist)

[123, 'xyz', 'tommy', 'abc', 123, 123, 'xyz', 'tommy', 'abc', 123]
[123, 'xyz', 'tommy', 'abc', 123, 2009, 'jupyter']
[2009, 'jupyter', 123, 'xyz', 'tommy', 'abc', 123]

In [41]:
alist.extend(blist)
alist

[123, 'xyz', 'tommy', 'abc', 123, 2009, 'jupyter']

In [42]:
alist.append(blist)
alist

[123, 'xyz', 'tommy', 'abc', 123, 2009, 'jupyter', [2009, 'jupyter']]

In [43]:
blist.extend(alist)
print(alist)
blist

[123, 'xyz', 'tommy', 'abc', 123, 2009, 'jupyter', [2009, 'jupyter', 123, 'xyz', 'tommy', 'abc', 123, 2009, 'jupyter', [...]]]

[2009, 'jupyter', 123, 'xyz', 'tommy', 'abc', 123, 2009, 'jupyter', [...]]

In [46]:
#Reverse 

alist = [123, 'xyz', 'tommy', 'abc', 342]
print(alist)
alist.reverse()
print("*********************************")
print(alist)

[123, 'xyz', 'tommy', 'abc', 342]
*********************************
[342, 'abc', 'tommy', 'xyz', 123]

In [47]:
#Sort - Sort the given list from ascending or descending 

blist = [8,99,45,33]
blist.sort(reverse=True)
blist

[99, 45, 33, 8]

In [49]:
blist = [8,99,45,33]
sorted_list = sorted(blist)
sorted_list

[8, 33, 45, 99]

In [51]:
#Count 

alist = [123,'XYZ', 'Zara', 'abc', 123, "Zara"]
print(alist.count("Zara"))

2

In [52]:
#Finding Value 

print(alist.index("Zara"))

2

In [53]:
#Concatenate the two list

new_list = alist+blist
print(new_list)
type(new_list)

[123, 'XYZ', 'Zara', 'abc', 123, 'Zara', 8, 99, 45, 33]

list

In [ ]:
help(list) #To get detailed infor about list

In [56]:
#Sorting 

number_list = [1,3,6,78,98,34,56,0,23,43]
number_list.sort()
print(number_list)
print(len(number_list))
print(max(number_list))
print(min(number_list))

[0, 1, 3, 6, 23, 34, 43, 56, 78, 98]
10
98
0