In [1]:
#Sets

In [6]:
set3 = {1,2,3,4,5,6,7,8}
set4 = {3,4,5,6,7,8,9}
set5 = set3-set4
print("Elements in set3 and not in set4 : set5",set5)

Elements in set3 and not in set4 : set5 {1, 2}

In [7]:
set5.clear()
print ("After applying clear on sets set5:",set5)

After applying clear on sets set5: set()

In [9]:
if set4.isdisjoint(set5):
    print("set4 and set5 have nothing in common \n")

set4 and set5 have nothing in common

In [1]:
#Dictionary 

#Accessing values in Dictionary 

dict = {'Name' : ('Nikhil','sharat') , 'Age' : 25, 'bike' : 'Beneli' }

print (dict)
print (dict['Name'])
print (dict ['Age'])

{'Name': ('Nikhil', 'sharat'), 'Age': 25, 'bike': 'Beneli'}
('Nikhil', 'sharat')
25

In [2]:
#Updating Dictionary

dict = {'Name':'Nikhil','Age' : 25, 'bike' : 'Beneli'}
dict['Age'] = 27
dict['School'] = 'DPS School'
dict['Sal'] = [5000,10000,2356]
dict

{'Name': 'Nikhil',
 'Age': 27,
 'bike': 'Beneli',
 'School': 'DPS School',
 'Sal': [5000, 10000, 2356]}

In [3]:
#Remove

dict.clear()
dict

{}

In [7]:
dict = {'Name' : 'Nikhil' ,'Age' : 34, 'bike' : 'Beneli'}
print(dict.items())
print(dict.keys())
print(dict.values())

dict_items([('Name', 'Nikhil'), ('Age', 34), ('bike', 'Beneli')])
dict_keys(['Name', 'Age', 'bike'])
dict_values(['Nikhil', 34, 'Beneli'])

In [8]:
xy = dict.items()
type(xy)

dict_items

In [9]:
type(dict)

dict

In [11]:
#Non - Numeric String 

#Accessing Values 

Name = 'Python'
print(Name[0])
print(Name[3])
print(Name[1:5])
print(Name[-2])
print(Name[-3:-1])
print(Name*3)
print(Name +"","Test")

P
h
ytho
o
ho
PythonPythonPython
Python Test

In [13]:
a = 'Hi'
print(a)
print(len(a))

Hi
2

In [16]:
#String Slicing (Indexing)

Title = "The Best Language" #[start : stop : step]
print(Title[::1])
print(Title[::2])
print(Title[::3])
print(Title[5::3])

The Best Language
TeBs agae
T sLgg
e na

In [17]:
#Reverse 

example = 'Python'
print(example[::-1])

nohtyP

In [19]:
var = 'Hello World!'
print("Updated String :",var+ 'Python')
print("updated String :",var[:6]+'Python')

Updated String : Hello World!Python
updated String : Hello Python

In [20]:
string = 'This is Python'
strlist = list(string)
print(strlist)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [23]:
format = '%2f %s is $%d'
format%(6.4560,'python prasad',1)

'6.456000 python prasad is $1'

In [24]:
statement = """ my name is "prasad" and my age is "25" """
print(statement)

 my name is "prasad" and my age is "25"

In [25]:
type (statement)

str

In [28]:
Name = 'pYtHon'
print(type(Name))
print(Name.capitalize())
print(Name.upper())
print(Name.lower())
print(Name.swapcase())

<class 'str'>
Python
PYTHON
python
PyThON